<h1>Current Blog Posts</h1>

	<% @blog_posts.each do |blog_post| %>

		<div calss="panel panel-default">
			<div class="panel=-heading">
				<%= blog_post.title %>
			</div>
			<div class="panel-body">
				by <%= blog_post.author %><br>
				<p><%= blog_post.created_at.strftime('%m/%d/%Y at %I:%M%p') %></p>
				<p><%= blog_post.blog_entry %></p>
			</div>
			<div class="panel-footer">
				<%= link_to "Show", blog_post_path(id: blog_post.id), class: "btn btn-info" %>
				<%= link_to "Edit", edit_blog_post_path(id: blog_post.id), class: "btn btn-warning" %>
				<%= link_to "Destroy", blog_post_path(id: blog_post.id), method: :delete, data: {confirm: "are you sure?"}, class: "btn btn-danger" %>
			</div>
		</div>
	<% end %>

<% link_to "New Blog Post", new_blog_post_path, class: "btn btn-success" %>